$first-color : #EFCD76;
$second-color: #CAD09E;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width:100%;
    height: auto;
    background-color: $first-color;
    #app{
        width: 100%; 
    }
}